.textAccordion {
    margin-bottom: 100px;
}

.textAcoordion__top {
    @include fsz(32px);
    font-family: $primary-family;
    color: $secondary;
    background-color: $quinery;
    font-weight: 600;
    padding: 28px 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.textAccordion__toggle {
    @include fsz(32px);
    font-family: $primary-family;
    color: $secondary;
    background-color: $quinery;
    font-weight: 600;
}

.textAccordion__body {
    font-family: $primary-family;
    @include fsz(28px);
    line-height: 1.3;
    padding-left: 85px;
    padding-right: 85px;
    p {
        margin-bottom: 50px;
    }
}

.textAccordion__bodyTitle {
    font-weight: 700;
}

.textAccordion__body {
    display: none;
}