.button {
    padding: 28px 55px;
    font-family: $primary-family;
    font-size: 28px;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    background-color: $secondary;
    text-align: center;
    border-radius: 50px;
    @media #{$phone} {
        font-size: 17px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    transition: all .2s ease-in;
    &:hover {
        background-color: $tertiary;
        color: $secondary;
    }
}

.primaryNav>li.header-button {
    width: auto;
    &:hover,
    &:focus {
        background: transparent;
        color: transparent;
        outline: solid 1px transparent;
    }
    a {
        display: block;
        font-size: 20px;
        padding: 20px 47px;
        color: $white;
        background-color: $secondary;
        border-radius: 50px;
        width: max-content;
        position: relative;
        z-index: 1;
        transition: ease all .3s;
        @media #{$desktop-medium} {
            padding: 14px 25px;
            font-size: 18px;
        }
        @media #{$desktop-small} {
            padding: 14px 25px;
            font-size: 18px;
            margin-top: 20px;
        }
        &:hover,
        &:focus {
            background-color: $primary;
        }
    }
}

.footer__button {
    font-size: 20px;
    padding: 20px 20px;
    border: solid 2px $white;
    margin-bottom: 20px;
}